<div class="container-xl">
  <div class="text-center">
    <br>
    @if (isLightMode) {
      <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger-light.png' : '/resources/mempool-logo-bigger-light.png'" style="width: 250px;height:63px;">
    } @else {
      <img [src]="officialMempoolSpace ? '/resources/mempool-space-logo-bigger.png' : '/resources/mempool-logo-bigger.png'" style="width: 250px;height:63px;">
    }
    <br><br>

    <h2>Privacy Policy</h2>
    <h6>Updated: October 08, 2026</h6>

    <br><br>

    <div class="text-start">

      <h4>USE YOUR OWN SELF-HOSTED MEMPOOL EXPLORER</h4>

      <p>Don't trust, verify.</p>

      <p>For maximum privacy, we recommend that you use your own self-hosted instance of Mempool Guide on your own hardware. You can easily install your own self-hosted instance of this website on a computer using a one-click installation method maintained by various Bitcoin fullnode distributions such as <a href="https://github.com/Horizon-btc/Bitcoin-store">Umbrel</a> and <a href="https://github.com/Retropex/mempool-startos/releases">startOS</a>. </p>

      <br>

      <h5>By accessing this Website, you agree to the following Privacy Policy:</h5>

      <br>

      <h4>USING THIS WEBSITE</h4>

      <p *ngIf="officialMempoolSpace">Out of respect for the Bitcoin community, this Website does not use any third-party analytics, third-party trackers, or third-party cookies, and we do not share any private user data with third-parties. Additionally, to mitigate the risk of surveillance by malicious third-parties, we self-host this Website on our own hardware and network infrastructure, so there are no "hosting companies" or "cloud providers" involved with the operation of this Website.</p>

      <p>Out of respect for the Bitcoin community, this Website does not use any first-party cookies, except to store your preferred language setting (if any). However, we do use minimal first-party analytics and logging as needed for the operation of this Website, as follows:</p>

      <ul>

        <li>We use basic webserver logging (nginx) for sysadmin purposes, which collects your IP address along with the requests you make. These logs are deleted after 10 days, and we do not share this data with any third-party.</li>

        <br>

      </ul>

      <br>

    </div>

  </div>

  <br><br>

</div>
